{% extends "retos_admin/base_home_admin.html" %}

{% block page_content %}
  
    <header class="d-flex justify-content-between w-100 heder_page">
        <a href="{% url 'retos_admin:esp_co_creacion' %}"><div class="btn-back">&lt;</div></a>
        <h2 style="">Espacios de 
            <br>
             Co-Creación</h2>
        <a href="{% url 'retos_admin:retos_detail' %}">
            <button class="btn-save-reto">Guardar</button>
        </a>
        
    </header>

    <div class="container p-5">

        <div class="row justify-content-center align-items-center h-100">

            <div class="col-md-10">

                    <!-- campos de imagen nombre titulo creador fecha y estado  -->
                    <div class="row h-100">

                        <div class="col-md-12 bg-white shadow-sm rounded p-5 mb-4" style="width: 1223px; height: 300px; left: 269px; top: 136px; background: #FFFFFF; box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05); border-radius: 8px; adding: 2rem !important;">
                            
                            <div class="row h-100 gx-4">

                                <div class="col-md-4 rounded p-5 mb-4 d-flex justify-content-center align-items-center" style="height: 165px;">
                                    
                                    <i class="bi bi-people-fill" style="font-size: 7rem;"></i>
                                    
                                </div>

                                <div class="col-md-8 bg-white rounded p-5 mb-4" style="height: 165px; background: #FFFFFF;  border-radius: 8px;">
                                    
                                
                                    <div class="row ">

                                        <div class="col-md-10 mb-2">
                                            <label for="nombre" class="mb-2" >Nombre</label>
                                            <input type="text" class="form-control impt" id="nombre" placeholder="Ingenieros sin fronteras">
                                        </div>


                                    </div>

                                </div>

                            </div>

                        </div>

                    </div>

                    
                    <!-- campos de texto largo  -->
                    <div class="row h-100">

                        <div class="col-md-12 bg-white shadow-sm rounded p-5 mb-4" style="width: 1121px; height: 261px; left: 320px; top: 829px; background: #FFFFFF; box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05); border-radius: 8px;">

                            <div class="row ">
                                <div class="col-md-12 mb-4">
                                    <label for="text-area-1" class="mb-2 fr">
                                        Acerca de
                                    </label>
                                    <textarea id="text-area-1" class="form-control" style="box-sizing: border-box; display: flex; flex-direction: row; align-items: flex-start; padding: 12px 16px; gap: 10px;  height: 129px; background: #F2F2F2; border: 2px solid #E6E6E6; border-radius: 10px; flex: none; order: 1; align-self: stretch; flex-grow: 1;"></textarea>
                                </div>
                            </div>

                        </div>

                    </div>

            </div>

        </div>

    </div>
      
    
{% endblock %}

