{% extends "retos_admin/base_home_admin.html" %}

{% block page_content %}
  
    <header class="d-flex justify-content-between w-100 heder_page">
        <a href="{% url 'retos_admin:index' %}"><div class="btn-back">&lt;</div></a>
        <h2>Retos</h2>
        <a href="{% url 'retos_admin:retos_detail' %}">
            <button class="btn-save-reto">Guardar</button>
        </a>
        
    </header>

    <div class="container p-5" >

        <div class="row justify-content-center align-items-center h-100">

            <div class="col-md-10">

                    <!-- campos de imagen nombre titulo creador fecha y estado  -->
                    <div class="row h-100">

                        <div class="col-md-12 bg-white shadow-sm rounded p-5 mb-4" style="width: 1223px; height: 350px; left: 269px; top: 136px; background: #FFFFFF; box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05); border-radius: 8px; padding: 2rem !important;">
                            
                            <div class="row h-100 gx-4">

                                <div class="col-md-2 rounded p-5 mb-4 d-flex justify-content-center align-items-center" style="height: 165px;  border-radius: 8px background: #C1C1C1;">
                                    <input type="file" name="documento1" id="documento1" style="display:none;">
                                    <label for="documento1" style="display: flex; flex-direction: column; align-items: center;">
                                        <i class="bi bi-image" style="font-size: 7rem;"></i>
                                    </label>
                                </div>

                                <div class="col-md-10 bg-white rounded p-5 mb-4" style="height: 165px; background: #FFFFFF;  border-radius: 8px;">
                                    
                                        <!-- Título -->
                                    <div class="row mb-3">
                                        <div class="col-md-4 mb-2">
                                            <label for="nombre" class="mb-2" >Nombre del reto</label>
                                            <input type="text" class="form-control " id="nombre" placeholder="">
                                        </div>
                                    </div>

                                    <div class="row ">

                                        <div class="col-md-4 mb-2">
                                            <label for="nombre" class="mb-2" >Creado por</label>
                                            <input type="text" class="form-control " id="nombre" placeholder="Ingrese el nombre del creador">
                                        </div>

                                        <div class="col-md-4 mb-2">
                                            <label for="fecha" class="mb-2" >Fecha de creación</label>
                                            <input type="date" class="form-control " id="fecha">
                                        </div>

                                        <div class="col-md-4 mb-2">
                                            <label for="estado" class="mb-2" >Estado</label>
                                            <select class="form-select " id="estado">
                                            <option value="disponible" selected>Disponible</option>
                                            <option value="no disponible">No disponible</option>
                                            </select>
                                        </div>

                                    </div>

                                </div>

                            </div>

                        </div>

                    </div>

                    <!-- comunidades-->
                    <div class="row h-100">

                        <div class="col-md-12 bg-white shadow-sm rounded p-5 mb-4" style="width: 1123px; height: 165px; left: 320px; top: 627px; background: #FFFFFF; box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05); border-radius: 8px;">
                            
                            <div class="row fr">

                                <div class="col-md-4 mb-2 w-100">

                                    <div class="row">
                                        <div class="col">
                                        <label for="estado" class="mb-2">Comunidades</label>
                                        </div>
                                    </div>

                                    <div class="row ">

                                        <div class="col-md-8">
                                            <select class="form-select impt" id="estado">
                                                <option value="Elige Comunidade" selected>Asociacion de floricultores de Cundinamaeca</option>
                                                <option value="no disponible">No disponible</option>
                                            </select>
                                        </div>

                                        <div class="col-md-4 d-flex">
                                            <div class="btn-back me-2"><i class="bi bi-plus"></i></div>
                                            <div class="btn-back"><i class="bi bi-trash"></i></div>
                                        </div>

                                    </div>

                                </div>

                            </div>
                            
                        </div>

                    </div>

                    <!-- categorias -->
                    <div class="row h-100">

                        <div class="col-md-12 bg-white shadow-sm rounded p-5 mb-4" style="width: 1121px; height: 165px; left: 320px; top: 627px; background: #FFFFFF; box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05); border-radius: 8px;">
                        
                            <div class="row fr">

                                    <div class="col-md-4 mb-2">
                                        <label for="estado" class="mb-2" >Categoria</label>
                                        <select class="form-select impt" id="estado">
                                            <option value="disponible" selected>Disponible</option>
                                            <option value="no disponible">No disponible</option>
                                        </select>
                                    </div>
                                    

                                    <div class="col-md-4 mb-2">
                                        <label for="estado" class="mb-2" >Enfoque del reto</label>
                                        <select class="form-select impt" id="estado">
                                            <option value="disponible" selected>Disponible</option>
                                            <option value="no disponible">No disponible</option>
                                        </select>
                                    </div>

                            </div>
        
                        </div>

                    </div>

                    <!-- galeria de fotos -->
                    <div class="row h-100">

                        <div class="col-md-12 bg-white shadow-sm rounded p-5 mb-4" style="width: 1223px; height: 257px; left: 269px; top: 136px; background: #FFFFFF; box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05); border-radius: 8px;">

                            <style>
                                .bi-image:hover {
                                    color: #4EC47E; 
                                }
                            </style>
                       
                            <div class="row fr">

                                <label for="estado" class="mb-2">Galeria</label>

                                <div class="col-md-3 rounded p-5 mb-4 d-flex justify-content-center align-items-center sub_img" style="height: 165px;  border-radius: 28px;">
                                    <input type="file" name="documento1" id="documento1" style="display:none;">
                                    <label for="documento1" style="display: flex; flex-direction: column; align-items: center;">
                                        <i class="bi bi-image" style="font-size: 7rem;"></i>
                                        <h4>Foto 1</h4>
                                    </label>
                                </div>

                                <div class="col-md-3 rounded p-5 mb-4 d-flex justify-content-center align-items-center sub_img" style="height: 165px;  border-radius: 50px;">
                                    <input type="file" name="documento2" id="documento2" style="display:none;">
                                    <label for="documento2" style="display: flex; flex-direction: column; align-items: center;">
                                        <i class="bi bi-image" style="font-size: 7rem;"></i>
                                        <h4>Foto 2</h4>
                                    </label>
                                </div>

                                <div class="col-md-3 rounded p-5 mb-4 d-flex justify-content-center align-items-center sub_img" style="height: 165px;  border-radius: 50px;">
                                    <input type="file" name="documento3" id="documento3" style="display:none;">
                                    <label for="documento3" style="display: flex; flex-direction: column; align-items: center;">
                                        <i class="bi bi-image" style="font-size: 7rem;"></i>
                                        <h4>Foto 3</h4>
                                    </label>
                                </div>

                                <div class="col-md-3 rounded p-5 mb-4 d-flex justify-content-center align-items-center sub_img" style="height: 165px;  border-radius: 50px;">
                                    <input type="file" name="documento4" id="documento4" style="display:none;">
                                    <label for="documento4" style="display: flex; flex-direction: column; align-items: center;">
                                        <i class="bi bi-image" style="font-size: 7rem;"></i>
                                        <h4>Foto 4</h4>
                                    </label>
                                </div>

                            </div>                            

                        </div>
        
                    </div>

                    <!-- Documentos -->
                    <div class="row h-100">

                        <div class="col-md-12 bg-white shadow-sm rounded p-5 mb-4" style="width: 1223px; height: 257px; left: 269px; top: 136px; background: #FFFFFF; box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05); border-radius: 8px;">

                            <style>
                                .bi-file-earmark-pdf:hover{
                                    color:#FF3D3D;
                                }
                            </style>
                       
                            <div class="row fr">

                                <label for="estado" class="mb-2">Documentos Anexos</label>

                                <div class="col-md-3 rounded p-5 mb-4 d-flex justify-content-center align-items-center sub_img" style="height: 165px;  border-radius: 28px;">
                                    <input type="file" name="documento1" id="documento1" style="display:none;">
                                    <label for="documento1" style="display: flex; flex-direction: column; align-items: center;">
                                        <i class="bi bi-file-earmark-pdf" style="font-size: 7rem;"></i>
                                        <h4>Documento 1</h4>
                                    </label>
                                </div>

                                <div class="col-md-3 rounded p-5 mb-4 d-flex justify-content-center align-items-center sub_img" style="height: 165px;  border-radius: 28px;">
                                    <input type="file" name="documento1" id="documento1" style="display:none;">
                                    <label for="documento1" style="display: flex; flex-direction: column; align-items: center;">
                                        <i class="bi bi-file-earmark-pdf" style="font-size: 7rem;"></i>
                                        <h4>Documento 2</h4>
                                    </label>
                                </div>

                                <div class="col-md-3 rounded p-5 mb-4 d-flex justify-content-center align-items-center sub_img" style="height: 165px;  border-radius: 28px;">
                                    <input type="file" name="documento1" id="documento1" style="display:none;">
                                    <label for="documento1" style="display: flex; flex-direction: column; align-items: center;">
                                        <i class="bi bi-file-earmark-pdf" style="font-size: 7rem;"></i>
                                        <h4>Documento 3</h4>
                                    </label>
                                </div>

                                <div class="col-md-3 rounded p-5 mb-4 d-flex justify-content-center align-items-center sub_img" style="height: 165px;  border-radius: 28px;">
                                    <input type="file" name="documento1" id="documento1" style="display:none;">
                                    <label for="documento1" style="display: flex; flex-direction: column; align-items: center;">
                                        <i class="bi bi-file-earmark-pdf" style="font-size: 7rem;"></i>
                                        <h4>Documento 4</h4>
                                    </label>
                                </div>

                            </div>                            

                        </div>
        
                    </div>

                    <!-- campos de texto largo  -->
                    <div class="row h-100">

                        <div class="col-md-12 bg-white shadow-sm rounded p-5 mb-4" style="width: 1121px; height: 787px; left: 320px; top: 829px; background: #FFFFFF; box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05); border-radius: 8px;">

                            <div class="row ">
                                <div class="col-md-12 mb-4">
                                    <label for="text-area-1" class="mb-2 fr">
                                        Pregunta Orientatoria
                                    </label>
                                    <textarea id="text-area-1" class="form-control" style="box-sizing: border-box; display: flex; flex-direction: row; align-items: flex-start; padding: 12px 16px; gap: 10px;  height: 129px; background: #F2F2F2; border: 2px solid #E6E6E6; border-radius: 10px; flex: none; order: 1; align-self: stretch; flex-grow: 1;"></textarea>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12 mb-4">
                                    <label for="text-area-1" class="mb-2 fr">
                                        Estado actual
                                    </label>
                                    <textarea id="text-area-1" class="form-control" style="box-sizing: border-box; display: flex; flex-direction: row; align-items: flex-start; padding: 12px 16px; gap: 10px;  height: 129px; background: #F2F2F2; border: 2px solid #E6E6E6; border-radius: 10px; flex: none; order: 1; align-self: stretch; flex-grow: 1;"></textarea>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12 mb-4">
                                    <label for="text-area-1" class="mb-2 fr" >
                                        Intencion
                                    </label>
                                    <textarea id="text-area-1" class="form-control" style="box-sizing: border-box; display: flex; flex-direction: row; align-items: flex-start; padding: 12px 16px; gap: 10px;  height: 129px; background: #F2F2F2; border: 2px solid #E6E6E6; border-radius: 10px; flex: none; order: 1; align-self: stretch; flex-grow: 1;"></textarea>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12 mb-4">
                                    <label for="text-area-1" class="mb-2 fr" >
                                        Posibles caminos
                                    </label>
                                    <textarea id="text-area-1" class="form-control" style="box-sizing: border-box; display: flex; flex-direction: row; align-items: flex-start; padding: 12px 16px; gap: 10px;  height: 129px; background: #F2F2F2; border: 2px solid #E6E6E6; border-radius: 10px; flex: none; order: 1; align-self: stretch; flex-grow: 1;"></textarea>
                                </div>
                            </div>

                        </div>

                    </div>

            </div>

        </div>

    </div>
      
    
{% endblock %}

