/* estylos de a base de la pagina ---------------------------------------------------*/

body {
  font-family: "Batrice", sans-serif;
  background: #DBDBDB;
  
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Batrice Bold', sans-serif;
}

p, span, label, input, button, a {
  font-family: 'Batrice-Regular', sans-serif;
}

a {
  text-decoration: none;
}



.nav-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  align-items: center;
  background: #174E4F;
  width: 270px;
  justify-content: center;
}

.section-container {
  background: #DBDBDB;
  margin-left: 270px;
  width: calc(100% - 270px);
  overflow-y: scroll;
}




/**/
.nav-container .row {
  /* Expandimos la fila en el espacio sobrante */
  flex-grow: 1;
}

.nav-container ul {
  /* Ajustamos el espaciado y la apariencia de la lista */
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-container li {
  /* Añadimos espaciado y estilos a los botones */
  margin-bottom: 5px;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
}
.nav-container img {
  width: 120px;
  height: auto;
}
.nav-container h1 {
  font-size: 24px;
  font-weight: bold;
}
.btn-nav{
  background: #174E4F;
  width: 229px;
  height: 40px;
  border: 1px solid #F6FCDF;
  border-radius: 10px;
  box-sizing: border-box;

  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  color: #FFFFFF;

  justify-content: center;
  align-items: center;
  
}
.btn-nav:hover{
  background: #4EC47E;
  transition: background 0.3s ease;
}
.btn-item{
  display: flex;
  align-items: center;
  gap: 10px;
  
  background: #174E4F;
  width: 180px;
  height: 40px;
  box-sizing: border-box;

  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  color: #FFFFFF;

  justify-content: flex-start;
  align-items: center;
}
.btn-item:hover{
  background: #4EC47E;
  border-radius: 10px;
  transition: background 0.3s ease;
}


.help{

  background: #4EC47E;
  width: 229px;
  height: 40px;
  box-sizing: border-box;

  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  color: #FFFFFF;

  justify-content: center;
  align-items: center;
}
.help:hover{
  background: #2e9557;
  transition: background 0.3s ease;
}
.nav-titles{
  width: 183px;
  height: 22px;

  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;

  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: rgba(255, 255, 255, 0.7);

  flex: none;
  order: 0;
  flex-grow: 0;
  z-index: 0;
}


::-webkit-scrollbar {
  width: 10px;
  background-color: #174e4f; /* Color de fondo de la barra de desplazamiento */
}

::-webkit-scrollbar-thumb {
  background-color: #ff8f00; /* Color del "pulgar" de la barra de desplazamiento */
}


/* seccion de retos -----------------------------------------------------------------*/
.heder_page {
  
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100vh;
  height: 100px;
  background: #FFFFFF;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  padding-left: 20px;
}
.btn-create-reto {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  gap: 10px;

  position: absolute;
  width: 150px;
  height: 44px;
  top: 35px;
  right: 40px;
  
  color: #FFFFFF;
  /* Secundario */

  background: #FF8F00;
  /* Secundario */

  border: 2px solid #FF8F00;
  border-radius: 10px;

  text-decoration: none;
}

.btn-save-reto {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  gap: 10px;

  position: absolute;
  width: 150px;
  height: 44px;
  top: 35px;
  right: 40px;
  
  color: #FFFFFF;
  /* Secundario */

  background: #4EC47E;
  /* Secundario */

  border: 2px solid #4EC47E;
  border-radius: 10px;

  text-decoration: none;
}
header a {
  color: inherit;
  text-decoration: none;
}



.heder_page h1{
  
  width: 347px;
  height: 16px;
  left: 268px;
  top: 64px;

  
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 16px;
  /* identical to box height, or 80% */


  /* Primario oscuro */

  color: #174E4F;
}
.heder_page h2{
  position: absolute;
  width: 229px;
  height: 16px;
  padding-left: 68px;
  top: 38px;

  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 16px;
  
  color: #174E4F;
}
.btn-back{
  box-sizing: border-box;

  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  gap: 10px;

  width: 40px;
  height: 50px;
  left: 269px;
  top: 36px;

  /* Grey/Grey-100 */

  background: #F2F2F2;
  /* Grey/Grey-200 */

  border: 2px solid #E6E6E6;
  border-radius: 10px;
}
.btn-back:hover{
  box-shadow: 0px 4px 20px rgb(78, 196, 125);
}

.counter {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  padding: 40px 20% 0 20%;
}
.cont{
  width: 125px;
  height: 98px;
  left: 724px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cont h1{
  width: 70px;
  height: 23px;
  left: 752px;
  top: 181px;

  font-style: normal;
  font-weight: 600;
  font-size: 35px;
  line-height: 16px;
  
  text-align: center;

  color: #174E4F;
}
.cont p{
  width: 134px;
  height: 52px;
  left: 1068px;
  top: 227px;

  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;

  display: flex;
  align-items: center;
  text-align: center;

  color: #174E4F;
}
.cont div{
  width: 125px;
  height: 5px;
  left: 1073px;
  top: 218px;

  background: #FF8F00;
}


.table td,
.table th {
  border: none;
}

.table td:last-child,
.table th:last-child {
  text-align: center;
}

.table td:last-child a,
.table th:last-child a {
  display: inline-block;
  margin: 0 5px;
  transition: color 0.3s ease;
}

.table td:last-child a:hover .text-success,
.table th:last-child a:hover .text-danger {
  color: #4EC47E;
  width: 20px;
  width: 10px;
}

.table td:last-child a:hover .text-danger {
  color: #FF3D3D;
  width: 20px;
  width: 10px;
}

.filter_imput{
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 16px;
  gap: 10px;
  width: 366px;
  height: 44px;
  background: #F2F2F2;
  border: 2px solid #E6E6E6;
  border-radius: 10px;
  flex: none;
  order: 1;
  align-self: stretch;
}

.filter_btn{
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  gap: 10px;
  position: absolute;
  width: 115px;
  height: 44px;
  left: 672px;
  top: 359px;
  background: #4EC47E;
  border: 2px solid #4EC47E;
  border-radius: 10px;
  flex-grow: 0;
}

/* tablas */
table tbody tr td:first-child{
  color: #4EC47E;
}
table thead tr th{
  color: #174E4F;
}
.table{
  margin-top: 80px;
}

/* seccion de creacion de retos ---------------------------*/
.fr{
  font-style: normal;
  font-weight: 700;
  font-size:16px;
  line-height: 16px;
  color: #174E4F;
}
.btn-a-d{
    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 24px;
    gap: 10px;

    width: 40px;
    height: 40px;
    
    top: 36px;

    /* Grey/Grey-100 */

    background: #F2F2F2;
    /* Grey/Grey-200 */

    border: 2px solid #E6E6E6;
    border-radius: 10px;
}

.impt {
  box-sizing: border-box;

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 16px;
  gap: 10px;

  width: 100%;
  height: 50px;

  /* Grey/Grey-100 */

  background: #F2F2F2;
  /* Grey/Grey-200 */

  border: 2px solid #E6E6E6;
  border-radius: 10px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.btn_add_institucion{
  box-sizing: border-box;

  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  gap: 10px;
  width: 178px;
  height: 40px;
  left: 786px;
  top: 918px;

  /* Primario */

  background: #4EC47E;
  /* Primario */

  border: 2px solid #4EC47E;
  border-radius: 10px;
}

