{% extends "retos_admin/base_home_admin.html" %}

{% block page_content %}
  
  <header class="d-flex justify-content-between w-100 heder_page">

    
    <h1 >Participantes</h1>
    <a href="{% url 'retos_admin:create_participantes' %}"><button class="btn-create-reto"><i class="bi bi-plus-square-fill"></i> Crear</a></button></a>
    
  </header>

  <div class="container p-5" style=" padding-top: 3rem;">

    <div class="row justify-content-center align-items-center h-100">

      <div class="row h-100">

        <div class="col-md-12 rounded p-5 mb-4" style="width: 1123px; height: 165px; left: 320px; top: 627px; border-radius: 8px;">
            
            <div class="row fr">

                <div class="col-md-4 mb-2 w-100">

                    <div class="row  align-items-center">

                        <!-- buscador del filtro -->
                        <div class="col-md-4" style="padding-right:0px">
                          <input type="text" class="form-select impt" id="estado" placeholder="">
                        </div>
                        <!-- botones  del filtro -->
                        <div class="col-md-3 d-flex " style="justify-content: space-evenly; padding: 10px 0px;">
                            <button style="box-sizing: border-box;
                            width: 115px;
                            height: 44px;
                            top: 359px;
                            
                            /* Primario */
                            
                            background: #4EC47E;
                            color: #FFFFFF;
                            /* Primario */
                            
                            border: 2px solid #4EC47E;
                            border-radius: 10px;">
                            <i class="bi bi-search"></i> Buscar</button>
                            <button style="box-sizing: border-box; left: 0%; right: 0%; top: 0%; bottom: 0%; background: #F2F2F2; border: 2px solid #E6E6E6; border-radius: 10px; width: 115px; height: 44px; ">
                              <i class="bi bi-funnel"></i> Filtrar
                            </button>
                        </div>
                        
                    </div>
                    <div class="row" style="color: #666666; font-weight: 400;">
                      <p>15/32 resuldatos - Ordenados por : </p>
                    </div>
                    <div class="row">
                      <div class="col-md-4 d-flex ">
                        <button style="width: 141px; height: 44px; left: 274px; top: 280px; background: #4EC47E; border-radius: 10px; color: #FFFFFF; border-width: 0px !important;">
                          <i class="bi bi-arrow-down-circle"></i> Descargar
                        </button>
                      </div>
                    </div>

                </div>

            </div>
            
        </div>

    </div>

              <div class="row h-100">

                  <table class="table">

                    <!-- cabecera de la rabla  -->
                    <thead>
            
                      <tr style="border-width: 0px 0px 2px 0px; border-color: #4EC47E;
                      ">
                        <th scope="col">
                          <input type="checkbox" name="" id="">
                          ID
                        </th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Correo Electroncio</th>
                        <th scope="col">Rol</th>
                        <th scope="col">Institucion</th>
                        <th scope="col"></th>
                      </tr>
            
                    </thead>
            
                    {% for i in participantes %}
                    <tbody>
                      <tr>
                        <th scope="row">
                          <input type="checkbox" name="" id="">
                          {{i}}
                        </th>
                        <td>Participante {{i}}</td>
                        <td>participante{{i}}@gmai.com</td>
                        <td>Mentor</td>
                        <td>Universidad {{i}}</td>
                        <td>
                          <a href="#">
                            <i class="bi bi-pencil-square text-success" style=" color: #174E4F ; "></i>
                          </a>
                          <a href="#">
                            <i class="bi bi-trash text-danger" style="color: #174E4F;"></i>
                          </a>
                        </td>
                      </tr>
                    </tbody>
                  {% endfor %} 
                  
                    
            
                  </table>
                    
               

            </div>

        </div>

    </div>

</div>


{% endblock %}

