{% extends "retos_admin/base_home_admin.html" %}

{% block page_content %}
  
<header class="d-flex justify-content-between w-100 heder_page">

  
  <h1 >Comunidades</h1>
  <a href="{% url 'retos_admin:create_comunidades' %}"><button class="btn-create-reto"><i class="bi bi-plus-square-fill"></i> Crear reto</a></button></a>
  
</header>

<!-- Contador -->
<div class="row w-100 counter">

    <div class="col cont">
      <h1>203</h1>
      <div></div>
      <p>Comunidades</p>
    </div>
</div>


<div class="container p-2" style=" padding-top: 3rem;">

  <div class="row justify-content-center align-items-center h-100">

      <div class="col-md-10">

              
        <div class="col-md-12">

                
          <div class="row h-100">

            <div class="col-md-12 rounded p-5 mb-4" style="width: 1123px; height: 165px; left: 320px; top: 627px; border-radius: 8px;">
                
                <div class="row fr">
  
                    <div class="col-md-4 mb-2 w-100">
  
                        <div class="row  align-items-center">
  
                            <!-- buscador del filtro -->
                            <div class="col-md-4" style="padding-right:0px">
                              <input type="text" class="form-select impt" id="estado" placeholder="Asociacion de floricultores de Cundinamaeca">
                            </div>
                            <!-- botones  del filtro -->
                            <div class="col-md-3 d-flex " style="justify-content: space-evenly; padding: 10px 0px;">
                                <button style="box-sizing: border-box;
                                width: 115px;
                                height: 44px;
                                top: 359px;
                                
                                /* Primario */
                                
                                background: #4EC47E;
                                color: #FFFFFF;
                                /* Primario */
                                
                                border: 2px solid #4EC47E;
                                border-radius: 10px;">
                                <i class="bi bi-search"></i> Buscar</button>
                                <button style="box-sizing: border-box; left: 0%; right: 0%; top: 0%; bottom: 0%; background: #F2F2F2; border: 2px solid #E6E6E6; border-radius: 10px; width: 115px; height: 44px; ">
                                  <i class="bi bi-funnel"></i> Filtrar
                                </button>
                            </div>
                            
                        </div>
                        <div class="row">
                          <p>15/32 resuldatos - Ordenados por : Orden alfabetico</p>
                        </div>
                        <div class="row">
                          <div class="col-md-4 d-flex ">
                            <button style="width: 141px; height: 44px; left: 274px; top: 280px; background: #4EC47E; border-radius: 10px; color: #FFFFFF; border-width: 0px !important;">
                              <i class="bi bi-arrow-down-circle"></i> Descargar
                            </button>
                          </div>
                        </div>
  
                    </div>
  
                </div>
                
            </div>
  
        </div>

            <div class="row h-100">

                <table class="table">

                  <thead>
          
                    <tr style="border-width: 0px 0px 2px 0px; border-color: #4EC47E;
                    ">
                      <th scope="col">
                        <input type="checkbox" name="" id="">
                        ID
                      </th>
                      <th scope="col">Comunidad</th>
                      <th scope="col">Cantidad de retos</th>
                      <th scope="col">Evaluacion acumulado retos</th>
                      <th scope="col">Evaluacion acumulado implementacion</th>
                      <th scope="col">Ubicacion</th>
                      <th scope="col"></th>
                    </tr>
          
                  </thead>
                  {% for i in comunidades %}

                    
                      <tbody>
                        <tr>
                          <th scope="row">
                            <input type="checkbox" name="" id="">
                            {{i}}
                          </th>
                          <td>comunidad</td>
                          <td class="tab-center">3</td>
                          <td class="tab-center">5</td>
                          <td class="tab-center">7</td>
                          <td>Bogota</td>
                          <td>
                            <a href="#">
                              <i class="bi bi-pencil-square text-success" style=" color: #174E4F ; "></i>
                            </a>
                            <a href="#">
                              <i class="bi bi-trash text-danger" style="color: #174E4F;"></i>
                            </a>
                          </td>
                        </tr>
                      </tbody>
                    
                    
                  {% endfor %}
                  
                </table>
                
          </div>

      </div>

  </div>

</div>


{% endblock %}

