{% extends "retos_admin/aux_base.html" %}

{% block page_content %}
  
  <header class="d-flex justify-content-between w-100 heder_page">

    <h2>Retos</h2>
    <h1 >Listado de retos</h1>
    <a href="{% url 'retos_admin:create_retos' %}"><button class="btn-create-reto"><i class="bi bi-plus-square-fill"></i> Crear reto</a></button></a>
    
  </header>

  <!-- Contador -->
  <div class="row w-100 counter">

      <div class="col-md-3 cont">
        <h1>203</h1>
        <div></div>
        <p>Retos totales</p>
      </div>

      <div class="col-md-3 cont">
        <h1>33</h1>
        <div></div>
        <p>Retos activos</p>
      </div>

      <div class="col-md-3 cont">
        <h1>26</h1>
        <div></div>
        <p>Retos disponibles</p>
      </div>

      <div class="col-md-3 cont">
        <h1>144</h1>
        <div></div>
        <p>Retos completados</p>
      </div>

  </div>

   <!-- filtro -->
  <div class="row w-100">

    <div class="col-md-12 p-5">

      <form>
        <!-- por nombre -->
        <div class="form-group">
          <label for="nombre">Nombre:</label>
          <input type="text" class="form-control" id="nombre" placeholder="Ingrese el nombre">
        </div>
        <!-- por fecha -->
        <div class="form-group">
          <label for="fecha_creacion">Fecha de creación:</label>
          <input type="date" class="form-control" id="fecha_creacion">
        </div>
        <!-- por estado -->
        <div class="form-group">
          <label for="estado">Estado:</label>
          <select class="form-control" id="estado">
              <option value="">Seleccione un estado</option>
              <option value="Activo">Activo</option>
              <option value="Inactivo">Inactivo</option>
          </select>
        </div>

        <button type="submit" class="btn btn-primary">Buscar</button>

      </form>

    </div>

  </div>

  <!-- tabla de retos -->
  <div class="row w-100">

    <div class="col-md-12 p-5">

      <table class="table">

        <!-- cabecera de la rabla  -->
        <thead>

          <tr>
            <th scope="col">ID</th>
            <th scope="col">Reto</th>
            <th scope="col">Encuestas finales faltantes</th>
            <th scope="col">Campos faltantes</th>
            <th scope="col">Evaluación</th>
            <th scope="col">Implementación</th>
            <th scope="col"></th>
          </tr>

        </thead>

        <!-- elemntos de tabla  -->
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Nombre del reto</td>
            <td>3</td>
            <td>5</td>
            <td>En proceso</td>
            <td>En proceso</td>
            <td>
              <a href="#">
                <i class="bi bi-pencil-square text-success"></i>
              </a>
              <a href="#">
                <i class="bi bi-trash text-danger"></i>
              </a>
            </td>
          </tr>
        </tbody>

      </table>

    </div>

  </div>


{% endblock %}

