{% extends "retos_admin/base_home_admin.html" %}

{% block page_content %}
  
<header class="d-flex justify-content-between w-100 heder_page">

  
  <h1 >Instituciones</h1>
  <a href="{% url 'retos_admin:create_instituciones' %}"><button class="btn-create-reto"><i class="bi bi-plus-square-fill"></i> Crear</a></button></a>
  
</header>

<div class="container p-5">

  <div class="row justify-content-center align-items-center h-100">

      <div class="col-md-10">

              
        <div class="row h-100">

          <div class="col-md-12 rounded p-5 mb-4" style="width: 1123px; height: 165px; left: 320px; top: 627px; border-radius: 8px;">
              
              <div class="row fr">

                  <div class="col-md-4 mb-2 w-100">

                      <div class="row  align-items-center">

                          <!-- buscador del filtro -->
                          <div class="col-md-4">
                            <input type="text" class="form-select impt" id="estado" placeholder="Asociacion de floricultores de Cundinamaeca">
                          </div>
                          <!-- botones  del filtro -->
                          <div class="col-md-4 d-flex " style="padding: 10px;">
                              <button style="box-sizing: border-box;
                              width: 115px;
                              height: 44px;
                              top: 359px;
                              
                              /* Primario */
                              
                              background: #4EC47E;
                              color: #FFFFFF;
                              /* Primario */
                              
                              border: 2px solid #4EC47E;
                              border-radius: 10px;">
                              <i class="bi bi-search"></i> Buscar</button>
                              <button style="box-sizing: border-box;

                              left: 0%;
                              right: 0%;
                              top: 0%;
                              bottom: 0%;
                              
                              background: #F2F2F2;
                              border: 2px solid #E6E6E6;
                              border-radius: 10px;">
                              <i class="bi bi-funnel"></i> Filtrar</button>
                          </div>
                          
                      </div>
                      <div class="row">
                        <p>15/32 resuldatos - Ordenados por : Orden alfabetico</p>
                      </div>
                      <div class="row">
                        <div class="col-md-4 d-flex ">
                          <button style="width: 141px;
                          height: 44px;
                          left: 274px;
                          top: 280px;
                          
                          background: #4EC47E;
                          border-radius: 10px;">
                              <i class="bi bi-arrow-down-circle"></i> Descargar</button>
                        </div>
                      </div>

                  </div>

              </div>
              
          </div>

      </div>

            <div class="row h-100">
  
                <table class="table">

                  <!-- cabecera de la rabla  -->
                  <thead>
          
                    <tr>
                      <th scope="col">ID</th>
                      <th scope="col">institucion</th>
                      <th scope="col">Tipo de institucion</th>
                      <th scope="col">Fecha de Creacion</th>
                      <th scope="col"></th>
                    </tr>
          
                  </thead>

                  {% for i in instituciones %}
                    <tbody>
                      <tr>
                        <th scope="row">{{i}}</th>
                        <td>institucion {{i}}</td>
                        <td>Universidad</td>
                        <td>07-04-2023</td>
                        <td>
                          <a href="#">
                            <i class="bi bi-pencil-square text-success" style=" color: #174E4F ; "></i>
                          </a>
                          <a href="#">
                            <i class="bi bi-trash text-danger" style="color: #174E4F;"></i>
                          </a>
                        </td>
                      </tr>
                    </tbody>
                  {% endfor %} 
          
                </table>
                
          </div>

      </div>

  </div>

</div>


{% endblock %}

